{# If you have a "Content Type" for header in Built.io Contentstack then use get() view helper to retrieve header entry.
#} {# e.g. set header = get("header_content_type_id") #} {# And then render header values using the
{{header.field_name}} #}
<header class="header header-animated">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="logo" href="/">
                    <img class="img-responsive logo" src="{{getAssetUrl(header.logo.image.url)}}" alt=""
                        data-logo-alt="{{getAssetUrl(header.logo.image.url)}}"
                        data-logo-default="{{getAssetUrl(header.logo.color_image.url)}}">
                </a>
            </div>
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#navbarMain" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" class="btn btn-primary-outline" data-toggle="modal"
                            data-target="#signUp">{{header.cta[0].title}}</a>
                    </li>
                    <li>
                        <a href="" data-toggle="modal" data-target="#login">{{header.cta[1].title}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav collapsed-color">
                    {%for menu in header.navigation_section.navigation_bar %} {%if menu.sub_navigation.length > 0%}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{{menu.link}}">{{menu.title}}<i
                                class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu animated fadeInUp" role="menu">
                            {% for sub in menu.sub_navigation %}
                            <li>
                                <a href="{{sub.link}}">{{sub.title}}</i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{menu.link}}" class="scroll">{{menu.title}}</a>
                    </li>
                    {% endif %} {% endfor %}
                </ul>
            </div>
            <!-- .navbar-collapse -->
        </nav>
    </div>
</header>
<!-- login up -->